.results-list {
    /*width:100%;
    background-color: white;  added to className */
    display: flex;
    /*flex-direction:column; added to className */
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    /* margin-top: 1rem;  
    max-height: 300px; added to className */
    overflow-y: scroll;
}
